/* Contendor Recetas */

.ContenedorReceta{
    margin-top: 5%;

}
.ContenedorReceta h2{
    text-align: center;
}
.ContenedorImagenReceta{
    width: 35%;
    margin: 0 auto;
    margin-top: 5%;
}
.img-fluid{
    height: inherit;
    width: 100%;
}
.ContenedorTextoReceta{
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
}
.TextoReceta{
    font-size: 15px;
    text-align: justify;
}

@media (max-width:575px){

    .TextoReceta{
        font-size: 12px;
    }
}